<ul> 
              <li class="clearfix active" data-tooltip="Black">
               <label for="Black" class="clearfix">
                <span class="Black" style="background-color:#000000">

                <input type="radio" name="color" id="Black" checked value="#000000">

              </span>
              <p>Black</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Chrome">
               <label for="Chrome" class="clearfix">
                <span class="Chrome" style="background-color:#9A9FA3">

                <input type="radio" name="color" id="Chrome"  value="#9A9FA3">

              </span>
              <p>Chrome</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="White">
               <label for="White" class="clearfix">
                <span class="White" style="background-color:#FFFFFF">

                <input type="radio" name="color" id="White"  value="#FFFFFF">

              </span>
              <p>White</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Ivory">
               <label for="Ivory" class="clearfix">
                <span class="Ivory" style="background-color:#E7E1D3">

                <input type="radio" name="color" id="Ivory"  value="#E7E1D3">

              </span>
              <p>Ivory</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Taupe">
               <label for="Taupe" class="clearfix">
                <span class="Taupe" style="background-color:#706F6A">

                <input type="radio" name="color" id="Taupe"  value="#706F6A">

              </span>
              <p>Taupe</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Chocolate">
               <label for="Chocolate" class="clearfix">
                <span class="Chocolate" style="background-color:#332D2D">

                <input type="radio" name="color" id="Chocolate"  value="#332D2D">

              </span>
              <p>Chocolate</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Ballet">
               <label for="Ballet" class="clearfix">
                <span class="Ballet" style="background-color:#DFBBC7">

                <input type="radio" name="color" id="Ballet"  value="#DFBBC7">

              </span>
              <p>Ballet</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Plum">
               <label for="Plum" class="clearfix">
                <span class="Plum" style="background-color:#553F5F">

                <input type="radio" name="color" id="Plum"  value="#553F5F">

              </span>
              <p>Plum</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Navy">
               <label for="Navy" class="clearfix">
                <span class="Navy" style="background-color:#283343">

                <input type="radio" name="color" id="Navy"  value="#283343">

              </span>
              <p>Navy</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Denim">
               <label for="Denim" class="clearfix">
                <span class="Denim" style="background-color:#4D4F8A">

                <input type="radio" name="color" id="Denim"  value="#4D4F8A">

              </span>
              <p>Denim</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Sky Blue">
               <label for="Sky Blue" class="clearfix">
                <span class="Sky Blue" style="background-color:#AABED7">

                <input type="radio" name="color" id="Sky Blue"  value="#AABED7">

              </span>
              <p>Sky Blue</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Sage">
               <label for="Sage" class="clearfix">
                <span class="Sage" style="background-color:#89AE9C">

                <input type="radio" name="color" id="Sage"  value="#89AE9C">

              </span>
              <p>Sage</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Olive">
               <label for="Olive" class="clearfix">
                <span class="Olive" style="background-color:#868C77">

                <input type="radio" name="color" id="Olive"  value="#868C77">

              </span>
              <p>Olive</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Gold">
               <label for="Gold" class="clearfix">
                <span class="Gold" style="background-color:#BCA466">

                <input type="radio" name="color" id="Gold"  value="#BCA466">

              </span>
              <p>Gold</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Tangerine">
               <label for="Tangerine" class="clearfix">
                <span class="Tangerine" style="background-color:#CF7843">

                <input type="radio" name="color" id="Tangerine"  value="#CF7843">

              </span>
              <p>Tangerine</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Scarlet">
               <label for="Scarlet" class="clearfix">
                <span class="Scarlet" style="background-color:#E0282D">

                <input type="radio" name="color" id="Scarlet"  value="#E0282D">

              </span>
              <p>Scarlet</p>

               </label>
             </li> 
              <li class="clearfix " data-tooltip="Merlot">
               <label for="Merlot" class="clearfix">
                <span class="Merlot" style="background-color:#6A2C2F">

                <input type="radio" name="color" id="Merlot"  value="#6A2C2F">

              </span>
              <p>Merlot</p>

               </label>
             </li></ul>