<ul>{% if product.tags contains "luxorBlock" %}
              <li class="clearfix active " data-tooltip="Block">
               <label for="Conv_SalinasDemo-Regular" class="clearfix">
                 <span> 
                   <input type="radio" name="style" data-number="3" data-text="Please add up to 3 characters" data-error="Enter Monogram" id="Conv_SalinasDemo-Regular" checked value="Block" data-lower="0">
                   <img class="img_monotype" src="https://app.luxorlinens.com/uploads/monogram/letter-block-serif5.jpg" alt=""/>   
                 </span>
                 <p>Block</p>

               </label>
             </li>
               {% endif %}{% if product.tags contains "luxorBlock_Monogram" %}
              <li class="clearfix  " data-tooltip="Block Monogram">
               <label for="Conv_SalinasDemo-Regular_1" class="clearfix">
                 <span> 
                   <input type="radio" name="style" data-number="3" data-text="Please use 3 letters only" data-error="Enter Monogram" id="Conv_SalinasDemo-Regular_1"  value="Block Monogram" data-lower="0">
                   <img class="img_monotype" src="https://app.luxorlinens.com/uploads/monogram/letter-block-serif-middle-larger5.jpg" alt=""/>   
                 </span>
                 <p>Block Monogram</p>

               </label>
             </li>
               {% endif %}{% if product.tags contains "luxorBlock_Name" %}
              <li class="clearfix  " data-tooltip="Block Name">
               <label for="block_name" class="clearfix">
                 <span> 
                   <input type="radio" name="style" data-number="10" data-text="Please use up to 10 characters" data-error="Enter Monogram" id="block_name"  value="Block Name" data-lower="1">
                   <img class="img_monotype" src="https://app.luxorlinens.com/uploads/monogram/Salinas-Demo-Regular1.jpg" alt=""/>   
                 </span>
                 <p>Block Name</p>

               </label>
             </li>
               {% endif %}{% if product.tags contains "luxorScript_Monogram" %}
              <li class="clearfix  " data-tooltip="Script Monogram">
               <label for="monogram_kk_scregular_1" class="clearfix">
                 <span> 
                   <input type="radio" name="style" data-number="3" data-text="Please use 3 Letters only" data-error="Enter Monogram" id="monogram_kk_scregular_1"  value="Script Monogram" data-lower="0">
                   <img class="img_monotype" src="https://app.luxorlinens.com/uploads/monogram/letter-script-middle-larger1.jpg" alt=""/>   
                 </span>
                 <p>Script Monogram</p>

               </label>
             </li>
               {% endif %}{% if product.tags contains "luxorScript_Name" %}
              <li class="clearfix  " data-tooltip="Script Name">
               <label for="script_name" class="clearfix">
                 <span> 
                   <input type="radio" name="style" data-number="10" data-text="Please use up to 10 characters" data-error="Enter Monogram" id="script_name"  value="Script Name" data-lower="1">
                   <img class="img_monotype" src="https://app.luxorlinens.com/uploads/monogram/Als-Script5.jpg" alt=""/>   
                 </span>
                 <p>Script Name</p>

               </label>
             </li>
               {% endif %}{% if product.tags contains "luxorScript_Initials" %}
              <li class="clearfix  " data-tooltip="Script Initials">
               <label for="script_1" class="clearfix">
                 <span> 
                   <input type="radio" name="style" data-number="3" data-text="Please use up to 3 letters" data-error="Enter Monogram" id="script_1"  value="Script Initials" data-lower="0">
                   <img class="img_monotype" src="https://app.luxorlinens.com/uploads/monogram/Als-Script-AllCaps.jpg" alt=""/>   
                 </span>
                 <p>Script Initials</p>

               </label>
             </li>
               {% endif %}{% if product.tags contains "luxorDiamond_Monogram" %}
              <li class="clearfix  " data-tooltip="Diamond Monogram">
               <label for="monogram_diamond" class="clearfix">
                 <span> 
                   <input type="radio" name="style" data-number="3" data-text="Please use 3 letters only" data-error="Enter Monogram" id="monogram_diamond"  value="Diamond Monogram" data-lower="0">
                   <img class="img_monotype" src="https://app.luxorlinens.com/uploads/monogram/letter-diamond-monogram.jpg" alt=""/>   
                 </span>
                 <p>Diamond Monogram</p>

               </label>
             </li>
               {% endif %}{% if product.tags contains "luxorCircle_Monogram" %}
              <li class="clearfix  " data-tooltip="Circle Monogram">
               <label for="monogram_circle" class="clearfix">
                 <span> 
                   <input type="radio" name="style" data-number="3" data-text="Please use 3 letters only" data-error="Enter Monogram" id="monogram_circle"  value="Circle Monogram" data-lower="0">
                   <img class="img_monotype" src="https://app.luxorlinens.com/uploads/monogram/letter-circle-monogram2.jpg" alt=""/>   
                 </span>
                 <p>Circle Monogram</p>

               </label>
             </li>
               {% endif %}</ul>