a.action_button, .featured-content3 ul li a {
background:#212121 !important;
  position:relative;
}
.newsletter-section .newsletter .sign_up {  position:relative;}

/* .featured-content3 ul li a::before {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    bottom: 4px;
    content: "";
    left: 4px;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 0;
}
 */
.action_button {
  padding: 3px !important;
}
.inner_butt_border {
  background: #212121 none repeat scroll 0 0;
  border: 2px solid #fff;
  padding: 5px 40px !important;
}

/* .press-outter ul li img {
    filter: grayscale(100%);
  filter: gray; 
  	-webkit-filter: grayscale(1); 
} */



.use-code span, .use-code i {
    font-size: 16px;
    font-weight: normal !important;
    text-transform: capitalize !important;
}
.signature_image.center img {
    width: 45%;
}
.signature-section p {
  font-size: 18px;
}
.review-section .review-outter .review-inner {
  background-color: #dddddd !important;
  border: 0 none !important;
  border-radius: 7px;
  content: unset !important;
  margin: 0 auto;
  max-width: 775px;
}
.signature-section .feature_divider {
  margin-bottom: 15px !important;
} 
signature-section .container {
    padding-bottom: 0 !important;
    padding-top: 0;
}
.homepage_content.featured_content.content3 .container {
  padding-bottom: 0 !important;
}
.signature-section .container {
  padding-top: 15px !important;
}
#slide-3 .hsContainer {
  height: auto !important;
  padding-bottom: 45px !important;
  padding-top: 6px !important;
}
.newsletter-section .news-text {
  font-size: 18px !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  line-height: 25px !important;
  text-transform: capitalize !important;
}
.footer h6 {
  font-size: 16px;
  letter-spacing: 1px !important;
  
}
.footer h6::before {
  top: 34px !important;
  
}

.footer-links ul li {
    font-family: raleway !important;
    line-height: 24px !important;
  	
    margin-bottom: 0 !important;
}
.footer-links ul li a {
      font-family: raleway !important;
  font-size: 15px !important;
}
.footer h6 {
  margin-bottom: 0px !important;
 
}
.footer p {
  line-height: 24px;
  
}
ul.keep-touch ul li {
  float: left;
}
#slide-3 .headline {
  font-family: raleway;
}
.keep-touch img {
  margin-right: 16px;
}
.keep-touch .fa {
    color: #f2f2f2;
    margin-right: 9px;
}
.keep-touch li {
    font-size: 15px !important;
    margin-bottom: 0;
}
.footer-bootom .payment_methods {
  text-align: right;
}

.rating > img {
    margin-bottom: 10px;
    width: 120px;
}
.review-section .review-outter p {
    padding-top: 5px !important;
}
.footer {
  padding: 30px 0 0px !important;
}

.footer-bootom img {
    height: 40px;
    padding-top: 5px;
}
.footer-bootom .container {
    padding-bottom: 5px !important;
}
.footer-bootom img {
    height: 40px;
    padding-top: 8px;
}

.instagram-section .container {
  padding-bottom: 0;
}
.footer .four.columns:nth-of-type(1) > p {
  padding-right: 8px;
}
.owl-wrapper p.subtitle {
  text-transform: capitalize;
}

#cart.mm-opened .price {
    float: left;
    width: 40% !important;
}
/* Winona */


/* Common button styles */
.button {
backface-visibility: hidden;
   border: 1px solid #212121 !important; 
  display: block !important;
  float: left;
  text-transform: uppercase !important;
  font-size: 18px !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  padding: 5px 15px !important;
  position: relative;
  vertical-align: middle;
  z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.outer_butt_border {
/*   border: 3px solid #212121; */
  display: inline-block;
}
.news_up.outer_butt_border {
    float: left;
/*   border:3px solid #ffffff !important; */
  margin-left: 5px;
}
.newsletter-section .news_up.outer_butt_border button {
/* background: #ffffff !important;*/
} 
.newsletter-section .news_up.outer_butt_border:hover {
/* border: 3px solid #212121 !important; */
}
.mm-current span.outer_butt_border:last-child a hover {
border: 3px solid #212121 !important;
}
.action_button.sign_up {
    border: 2px solid #212121 !important;
    margin-left: 0 !important;
/*    height: 43px !important; */
}
/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */

/* Sizes */
.button--winona:hover {color:#000000 !important; }
.button--winona {
  overflow: hidden;
  text-align: unset !important;
     transition: all 0.4s ease-in-out 0s;
/*   transition-delay: 0s, 0s;
  transition-duration: 0.3s, 0.3s;
  transition-property: border-color, background-color;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); */
}
/* .featured-content3 .button--winona::after {
top: 0px;
} */
/* 
.button--winona::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 6px;
	opacity: 0;
	
	-webkit-transform: translate3d(0, 25%, 0);
	transform: translate3d(0, 25%, 0);
} */
.button--winona > span {
	display: block;
}

/* .button--winona.button--inverted:after {
	color: #7986cb;
} */
/* .button--winona::after, .button--winona > span {
  transition-delay: 0s, 0s;
  transition-duration: 0.3s, 0.3s;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}


.button--winona:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--winona:hover > span {
	opacity: 0;
	-webkit-transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
} */
.news_up .action_button.sign_up:hover {
  background-color: #fff !important;
}
#qab_content > span {
  text-transform: capitalize !important;
}
/*#qab_background > div {
  background-color: #f2f2f2 !important;
}*/
/*************** collection page start **************/
.collection_image .coll-img {
    float: left;
    width: 100%;
}
.collection_image {
    float: left;
    position: relative;
    width: 100%;
}

.coll-img img {
    float: left;
    width: 100%;
}

.collection_image .container {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  position: relative !important;
  right: unset !important;
  top: unset !important;
}
.collection_image .collection-content div.coll-here {
    font-size: 15px;
    line-height: 26px;
}
.collection_image .collection-content h1 {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 15px;
}
.collection_image .collection-content {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    float: right;
    padding: 18px 30px 20px !important;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  box-sizing: border-box;
    max-width: 363px;
}
.collection .container.main.content {
    display: none;
}
.collection_image .collection-content.left {
  left: 10px;
}
.collection-left .container.main.content {
    display: none;
}
.collection_start .breadcrumb {
  margin-top: 30px;
}
.collection_start .section_select, .collection_start .breadcrumb_text {
  margin-bottom: 20px !important;
}
.section_select label {
  color: #383838 !important;
  font-size: 15px !important;
  font-weight: normal !important;
  text-transform: capitalize;
}
.thumbnail .info {
    text-align: left !important;
}

.products .info em {
    font-size: 17px !important;
    font-style: normal;
    font-weight: normal !important;
}
.products a .info {
    margin-top: 0px;
}
.products a .info span {
    line-height: 24px !important;
}

.products .thumbnail a {
    padding-bottom: 5px;
}
.products .collection_swatches .swatch {
  float: left;
}
.products .collection_swatches {
  margin-top: 7px;
}
.products .thumbnail img {
    border-bottom: 4px solid #f4f4f4;
/*     max-height: 100% !important;
    width: 100%; */
} 
.products .thumbnail .shop-now > a {
  background-image: url("shop_arrow.png");
  background-position: 92px center;
  background-repeat: no-repeat;
  padding: 6px 26px 6px 10px !important;
 
}
.products .thumbnail .shop-now {
  background: rgba(0,0,0,0.5) none repeat scroll 0 0;
  bottom: 22px !important;
  font-weight: normal;
  color: #fff !important;
  font-family: Raleway;
  font-size: 16px;
  left: 0 !important;
  position: absolute;
  padding: 6px 26px 6px 10px;
}
.products .thumbnail .monogram {
  bottom: 22px;
  position: absolute;
  right: 0;
  display: none;
  background: rgba(165, 165, 165, 0.8) none repeat scroll 0 0;
   padding: 7px 10px 7px 10px;
}
.products .thumbnail .monogram p {
    color: #fff;
    font-family: Raleway;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: normal;
}
.cat_news_ups .review-section {
    display: none;
}
.cat_news_ups .tips-section {
  margin-bottom: 60px;
}
.tips-section .tips-outter ul li .tips-inner {
    height: 84px;
}
.tips-section .tips-outter ul li {
  vertical-align: middle;
}
.collection .footer, .collection-left .footer {
  margin-top: 0;
}
.tips-outter li:hover a p {
  color: #ddd !important;
}
.sale_banner, .new_banner {font-family:helvetica !important;}
body.collection-left .soldout, body.collection .soldout  {
    background: rgba(0,0,0,0.8) none repeat scroll 0 0 !important;
    left: 24.5% !important;
    padding: 20px 0 19px !important;
    position: absolute !important;
    top: 41.5% !important;
    transform: translate(-50%, -50%) !important;
    width: 50% !important;
    border: 2px solid #ccc;
    line-height: 0;
}
body.collection-left .soldout .sold_out, body.collection .soldout .sold_out {
  font-family: Raleway;
  font-size: 24px;
  font-weight: normal !important;
  color:#fff !important;
}
/************** collection page ends *************/



/************** product page start *************/
.tips-section a {
  color: #fff !important;
}
.tips-outter a:hover {
  color: #ddd !important;
}
.product_page .breadcrumb_text {
  margin-bottom: 15px !important;
}
.thumb_slider li .img {
  padding: 0 !important;
}
h1.product_name {
  font-size: 30px !important;
  margin-bottom: 17px;
  margin-top: -13px !important;
}

.thumb_slider .thumb_image {
    display: block;
    float: none !important;
    list-style: outside none none !important;
    margin-bottom: 1px !important;
}
.prod_desc_section {
    box-sizing: border-box;
    padding-left: 20px;
}
.prod_desc_section .sku > strong {
  font-size: 15px;
}
.sku > span {
  font-size: 15px !important;
}
.shappify_add_to_cart_form {
  margin-top: 9px;
}
.swatch .option_title {
  margin-bottom: 4px !important;
}
.prod_desc_section .swatch-element.color {
  padding: 2px;
}
.prod_desc_section .swatch .color label {
  height: 20px;
  line-height: 30px;
  min-width: 20px;
}
body.product .swatch label, .product-monogram .swatch label {
  font-size: 12px !important;
}
.prod_desc_section .add-mon-outter .mon-price {
  padding-top: 0 !important;
}
.prod_desc_section #price-chk {
  float: left;
  margin-top: 12px;
  opacity: 1 !important;
  position: static;
}
.prod_desc_section .check-outter label {
    content: none !important;
    padding-left: 10px !important;
    position: static !important;
    float: left;
}
.prod_desc_section .check-outter {
    float: left;
    margin-bottom: 3px !important;
    width: 100%;
}
.prod_desc_section .mono_text {
  color: #000;
  float: left;
  font-family: raleway;
  font-size: 15px;
  line-height: 24px !important;
  padding-left: 8px;
}
.prod_desc_section .mono_img {
  float: left;
}
.prod_desc_section .mono_img > img {
    height: 25px !important;
    width: 25px !important;
}
.prod_desc_section .quantity-wrp.clearfix {
  float: left;
  width: 100%;
}
.prod_desc_section .quantity-wrp .option_title {
  margin-bottom: 0 !important;
}
.prod_desc_section .quantity-wrp img {
  height: 27px !important;
}
.product-detail-price {font-family:raleway !important;}
.prod_desc_section .share-here .share-button label {
  background-color: #fff !important;
  border: 1px solid #74a3ae !important;
  border-radius: 0;
  color: #383838 !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}
.prod_desc_section .share-here .share-button label {
  background-image: url("//cdn.shopify.com/s/files/1/1195/2834/t/16/assets/share_button.png?5871739127110727833");
  background-position: 11px center;
  background-repeat: no-repeat;
  content: "" !important;
}
.prod_desc_section .share-here .share-button label::before {
  content: none !important;
}
.prod_desc_section .share-here .share-button span {
  color: #000 !important;
  font-family: raleway !important;
  font-weight: normal !important;
  padding-left: 26px !important;
}
.prod_desc_section .share-button.sharer-0 {
  width: 95px !important;
}
.prod_desc_section .modal_price {
  margin-bottom: 10px !important;
      line-height: normal;
}
.prod_desc_section .qty > label {
  text-transform: capitalize;
}
.prod_desc_section .qty > input {
  font-size: 18px !important;
  height: 47px;
  text-align: center;
}
.prod_desc_section .sale-area {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.prod_desc_section  .qty {
    float: left;
    text-transform: capitalize;
    width: 20%;
}
.prod_desc_section .sale-btn {
  box-sizing: border-box;
  float: right;
  margin-top: 29px;
  width: 70%;
}
.prod_desc_section .sale-btn .outer_butt_border {
  width: 100%;
}
.mm-current .sale-btn .outer_butt_border {
  width: 100%;
}

.prod_desc_section .sale-btn .button .text {
  text-align: center;
}
.mm-current .sale-btn .button .text {
  text-align: center;
}
.prod_desc_section .sale-btn .button {
  margin-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
  width: 100% !important;
}
.mm-current .sale-btn .button {
  margin-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
  width: 100% !important;
}
.sale-area.purchase button {
  margin-top: 0 !important;
}
.prod_desc_section .tab-outter {
  margin-bottom: 20px;
  margin-top: 35px !important;
  font-weight: normal !important;
}
.prod_desc_section ul.tabs li a.active {
  height: 38px !important;
  padding-top: 3px !important;
  top: -5px !important;
}
.prod_desc_section ul.tabs li {
  height: 30px !important;
}
.prod_desc_section #tab-1, .prod_desc_section #tab-2, .prod_desc_section #tab-3, .prod_desc_section #tab-4 {
  margin-top: 2px !important;
   padding: 12px 10px 20px 15px;
}
.prod_desc_section #tab-1 ul li, #tab-2 p, #tab-3 p {
  color: #383838 !important;
  font-family: "raleway";
  font-size: 15px !important;
  line-height: 26px !important;
}
.pro-tips.prod_review_usp .review-section .review-outter p {
  padding-top: 20px !important;
}
.feature_divider.related_item_product {
  margin-bottom: 25px !important;
  margin-left: 0;
  width: 65px;
}
.review-section.pro_sec_rev {
  padding-top: 10px !important;
}
.tips-section.pro_sec_tip {
  margin-bottom: 0px;
  margin-top: 20px;
}

.material_promise_pro_section {
     margin-bottom: 15px;
    margin-top: 50px;
    margin-left: -6px;
    padding-left: 6px;
}
.material > img, .thankyou > img {
    float: left;
}
.material, .thankyou {
  float: left;
  width: 100%;
}
.material_main .title, .thankyou_main .title {
     float: left;
    font-family: raleway;
    font-size: 16px;
    font-weight: bold;
    margin-left: 18px;
    padding-top: 17px;
    border-bottom: 1px solid #dfdfdf;
    width: 60%;
}
.material_promise_pro_section .text {
      float: left;
    margin-top: 10px;
    font-size: 15px;
    font-family: "raleway";
    color: #383838 !important;
    line-height: 26px !important;
}
.material_promise_pro_section.columns.nine img {
    width: 22%;
}
.material_promise_pro_section .thankyou_main {
    float: right !important;
}
.material_promise_pro_section > div {
    float: left;
    width: 47%;
    padding-right: 15px;
}
.product .footer, .product-monogram .footer  {
    margin-top: 0 !important;
}
.pro-tips.prod_review_usp {
  margin-top: 0 !important;
}
.add_to_cart1:hover::after {
  text-align: center !important;
}
button.add_to_cart {
  padding: 12px !important;
}
.prod_desc_section ul.simple_prod li a.active {
  height: 34px !important;
  padding-top: 3px !important;
  top: -5px !important;
}
button.add_to_cart::after {
  text-align: center !important;
  top: 8px !important;
}
#tab-1 .description p {
    font-size: 14px !important;
}
body.product .swatch_options .swatch, .product-monogram .swatch_options .swatch {
  margin-bottom: 12px !important;
}

#cart a.action_button.edit_cart {
  background-color: #fff !important;
  color: #000 !important;
  font-size: 12px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 20px;
  padding-left: 6px !important;
  padding-right: 6px !important;
  text-align: center;
  text-indent: 0;
  width: 100%;
  border: 0px !important;
}
.newsletter-section .news_up.outer_butt_border button {
         background: #212121 none repeat scroll 0 0 !important;
    color: #fff !important;
    border: 1px solid #212121 !important;
}
.newsletter-section .news_up.outer_butt_border button:hover {
       color: #212121 !important;
     border: 1px solid #212121 !important;

}
.slider-cart .mm-menu > .mm-panel {
  background: inherit !important;
  box-sizing: border-box !important;
/*   height: auto !important; */
display:block !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 20px !important;
  position: static !important;

}
#cart .mm-subopen.mm-fullsubopen {
  display: none !important;
}
#cart .mm-current span.outer_butt_border {
  border: 0 none !important;
  float: left !important;
  margin: 0 15px 10px 0 !important;
  padding: 0 !important;
  width: 45%;
}

.product-monogram .button--winona::after {
    text-align: center;
}




@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}



.press-outter .first {
  display: none;
}

.press-outter li:hover .second {
  display: none;
}
.press-outter li:hover .first {
  display: inline-block;
}
html.mm-opened.mm-black .mm-page {
    box-shadow: none;
    min-height: 10px !important;
    height: 589px !important;
    overflow: hidden !important;
  z-index:-1 !important;
}
.prod_desc_section .modal_price .sold_out {
    font-size: 23px;
}


/************** product page ends *************/

/****** extra start **************/
.mob_plus_view { display:none; }

#mm-4.additional-checkout-buttons {
  padding-top: 0 !important;
}
.additional-checkout-button--amazon {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.additional-checkout-button--amazon, .additional-checkout-button--paypal-express {
  margin-left: 0px !important;
  margin-right: 0;
  min-width: 100px !important;
  width: 44%;
  padding:10px 0 !important;
}

span.additional-checkout-buttons {
  box-sizing: border-box;
  padding-left: 0 !important;
/*   padding-right: 20px !important; */
  width: 100%;
}
.additional-checkout-button--paypal-express {
  margin-right: 6px !important;
}
.newsletter-section button.button--winona::after {
    top: 10px !important;
}
.newsletter-section .newsletter .sign_up {
    padding: 12.5px 60px !important;
    text-align: center !important;
}
/****** extra ends **************/

@media screen and (min-width : 769px) {
  .product-monogram .mobile-only{
  display: none;
  }
}

@media only screen and (max-device-width : 1360px) 
{
.collection_image .collection-content {
  max-width: 442px;
}
}

@media only screen and (max-device-width : 1199px) 
{
 a.button.action_button.add_to_cart1 {
    max-width: 190px;
   
}
.products .thumbnail .monogram p {
    font-size: 15px;
}
  .product_section .pro-thumbs {
  width: 100% !important;
}
.prod_desc_section .mono_text {
  font-size: 14px;
}
.thumb_slider .thumb_image {
  float: left !important;
}
.products .thumbnail .shop-now > a {
    background-position: 83px center;
    font-size: 15px;
    padding: 6px 21px 6px 9px;
}
  .news_up.outer_butt_border {
/*   border: 3px solid #4e4e4e; */
  float: left;
}
    .newsletter-section .newsletter .sign_up {
  position: relative;
  text-align: center !important;
}
  .news_up.outer_butt_border {
  box-sizing: border-box;
}
  .thumb_slider .thumb_image {
    float: left !important;
/*     padding: 13px 13px 13px 0; */
    width: 25%;
}
   .thumb_slider .thumb_image:first-child {
     padding-left: 0px;
   }

  .container .product_section .pro-thumbs {
  width: 100% !important;
}
  .product_slider {
  margin-bottom: 0px !important;
}
  .product_slider {
    width: 100% !important;
}
  .material_promise_pro_section {
  margin-top: 25px;
}
}

@media only screen and (max-device-width : 1100px) 
{
  .prod_desc_section #price-chk {
  position: initial !important;
  }
}

@media only screen and (max-width : 960px) 
{
  
  .prod_desc_section {
  padding-left: 0;
}
.relative.product_image {
  float: left;
  height: auto !important;
  margin-bottom:13px;
  width: 100%;
}
  .products .thumbnail img {
    margin-bottom: 0 !important;
       float: left;
}
  .products .thumbnail .monogram {
  bottom: 0px;
 }
 .products .thumbnail .shop-now {
 bottom:0px !important;
 }
  .products .thumbnail .shop-now > a {
  background-position: 155px center;
}
  .news_up.outer_butt_border input {
  margin-bottom: 0 !important;
}
.material_promise_pro_section .text {
  width: auto;
}
 
  .monogram-form {
  margin-bottom: 20px;
}
}
@media only screen and (max-device-width : 768px) 

{
.middle-img {
    width: unset !important;
}

.footer h6 {
    margin-top: 0px;
}
.outer-here {
    background: #F5F9FC !important;
    float: left;
    width: 100%;
    margin-bottom: 14px;
}
}
@media only screen and (max-width : 768px) {
  .owl-item .fadeIn h1 b {font-family:sans-serif !important;}
.material_promise_pro_section {
padding-left:0;
}
.tips-section .tips-outter ul li {
   width: 100%;
}
  .pro-tips.prod_review_usp {
  margin-top: 15px !important;
}
  .quantity-outter.clearfix {
  float: left;
  width: 26%;
}
  .prod_desc_section .mono_text, div#NullssureGiftWrapDiv {
  font-size: 13px;
}
  .news_up.outer_butt_border {
  width: 90%;
  margin-top: 12px;
}
  h1.product_name {
 font-size: 22px !important;
    margin-top: 10px !important;
    float: left;
    width: 100%;
}
  .material_promise_pro_section {
  margin-bottom: 32px;
  margin-top: 27px;
}
  .material_promise_pro_section > div {
  margin-bottom: 19px !important;
  width: 100%;
}
   .review-section {
    padding-bottom: 0px;
  }
   .review-section .review-outter .review-inner + p {
    margin-bottom: 0;
}
  .review-outter .bx-wrapper {
    margin-bottom: 0px;
}
  .instagram-section {
    margin-top: 20px;
  }
} 
  @media only screen and (max-device-width : 768px) {
  .newsletter-section .newsletter .sign_up {
  width: 100% !important;
}
  .products .relative.product_image {
    float: left;
    width: 100%;
}
  .collection_start .breadcrumb {
    margin-top: 0;
}
.collection_image .collection-content {
       background: #F5F9FC;
    box-sizing: border-box;
    float: unset;
    width: 100% !important;
    margin: 0 auto;
    padding: 30px 15px !important;
    position: static;
    right: unset;
    top: unset;
    transform: unset;
    left: unset;
}
  .collection_start .section_select {
  margin-bottom: 0 !important;
}
  .collection_image .container {
  float: left;
}
  .collection_image .collection-content div.coll-here {
    font-size: 15px;
    line-height: 26px;
}
  .collection_image .collection-content h1 {
    font-weight: bold;
    margin-bottom: 5px;
}
  .collection_image .container {
    margin-top: 0px;
    text-align: center;
     float: left;
    width: 100%;
}
  .products .thumbnail img {
  float: left;
  margin-bottom: 0 !important;
  max-height: 100% !important;
  width: 100%;
}
.products .thumbnail .shop-now > a {
  background-position: 83px center;
    font-size: 15px;
    padding: 6px 21px 6px 9px ;
  width:auto;
}
.products .thumbnail .shop-now {
  bottom: 0 !important;
  left: 0 !important;
  width:auto;
}
.products .thumbnail .monogram {
  bottom: 0;
  right: 0;
   padding: 7px 10px 7px 10px;
  width:auto;
}
.products .thumbnail .monogram p {
    margin-bottom: 0;
  width:auto;
}
  .products .collection_swatches .swatch {
   padding-bottom:0px !important;
}
.section.clearfix.collection_description {
    margin-top: 40px;
}
}

 @media only screen and (max-device-width : 767px) 
{
/*   .collection_image {
  margin-top: 40px;
} */
  .additional-checkout-button--paypal-express {
    margin-right: 2% !important;
}
.additional-checkout-button--amazon, .additional-checkout-button--paypal-express {
  float: left;
  margin-left: 0 !important;
  margin-right: 0;
  min-width: 100px !important;
  width: 49%;
}
  #cart.mm-opened button .text {
  text-align: center !important;
}
  #cart .action_button {
  width: 100% !important;
}
  #cart .mm-current span.outer_butt_border {
    border: 0 none !important;
    float: left !important;
    margin: 0 2% 1px 0 !important;
    padding: 0 !important;
    width: 100%;
}
  #cart .mm-current span.outer_butt_border:nth-of-type(2) {
  margin-right: 0px !important;
}
} 

@media only screen and (min-width : 768px) and (max-width :960px) 
{
.section.product_section .ten.columns.alpha {
    width: 403px;
}
  .prod_desc_section.six.columns.omega {
  width: 325px;
}
}



@media only screen and (min-width : 1199px) and (max-width : 2500px) 
{
 
  .material_promise_pro_section .thankyou_main {
    float: left !important;
 
}
.product_section .container .ten.columns {
    width: 686px;
}
.product_section .container .nine.columns {
    width: 607px;
}
.product_section .pro-thumbs {
    width: 67px !important;
}
  .thumb_slider .thumb_image {
  margin-bottom: 4px !important;
}
  .product_section .product_gallery {
  box-sizing: border-box;
  float: right;
  margin: 0 !important;
  padding-left: 6px !important;
}
}




@media only screen and (min-device-width : 961px) and (max-device-width : 1200px) 
{
.footer h6 {
  font-size: 16px;
}
  .keep-touch li{
  font-size: 14px !important;
}

  .footer p {
  font-size: 14px !important;
}
  .footer-links ul li a {
    font-size: 14px !important;
}
  .keep-touch .fa {
    margin-right: 8px;
}
  .footer .container > div {
    width: 17.9% !important;
}
}
@media only screen and (min-width : 768px) and (max-width : 960px) 
{

 .pro-thumbs ul li .img img {
   max-height: 75px !important;
  }
}
@media only screen and (min-width : 768px) and (max-width : 768px) {
.material_promise_pro_section.columns.nine {
    width: 400px;
}
.flexslider {
  padding: 0 10px;
}
.columns.one.pro-thumbs {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
}

 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .featured-content3 ul li a {
  padding: 0px 30px !important;
  }
  .tips-section .tips-outter ul li {
  width: 32% !important;
  }
  .tips-section .tips-outter {
    width: 768px !important;
   
}
.newsletter-section .newsletter .contact_email {
    width: 51% !important;
}
.news_up.outer_butt_border {
    width: 47% !important;
    margin-top: 0px !important;
    float: right;
}
.newsletter-section .newsletter .sign_up {
    padding: 9px 49px !important;
}
  
}

@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
  div#owl-demo {
    margin-top: 0px !important;
}
  .collection_image {
  margin-top: 50px !important;
  }
.container.main.content.main-area {
    margin-top: 58px !important;
}
.container.without-image {
    margin-top: 46px !important;
}
 .custom_text_style
  {
    font-size:16px;
    padding:0 2px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
 .pro-thumbs ul li .img img {
   
    max-height: 50px !important;
  
}
.products .thumbnail .monogram {
   padding: 7px 6px 7px 6px !important;
}
.products .thumbnail .shop-now {
  font-size: 13px !important;
  padding: 6px 6px 6px 6px !important;
}
.products .thumbnail .monogram p {
   font-size: 13px !important;
    padding: 3px 0;
}
}
/*  ------- new css------- */
ul.menu.right li:first-child {
    padding-top: 7px;
}
div#NullssureGiftWrapDiv {
       padding-left: 60px !important;
    line-height: 33px !important;
   font-size: 15px !important;
}
.material_promise_pro_section.columns.nine {
    float: right;
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.item_title {
    max-width: 210px;
}
#firepush_height_fix {
height: 0 !important;
}
.featured-content3 li .outer_butt_border {
width: 99%;
}
.featured-content3 ul li a {
width: 100%;
}
div#owl-demo, .collection_image {
    margin-top: 96px;
}
.container.main.content.main-area {
    margin-top: 96px;
}
span.outer_butt_border:hover, .outer_butt_border:hover {
    border-color: #ffffff !important;
}
.news_up.outer_butt_border:hover {
border-color: #ffffff !important;
}
#cart span.outer_butt_border:last-child:hover {
border-color: #ffffff !important;
}
.shop-now.fadeInUp.animated {
    display: none;
}
.relative.product_image:hover .shop-now.fadeInUp.animated {
  
display: block !important;
}
.prod_desc_section .current_price, .prod_desc_section .was_price {
    font-weight: 700;
    color: #4e4e4e;
    font-size: 16px;
    font-family: "Helvetica LT Std";
}
/* === sprite images ==== */
.keep-touch i {
    margin-right: 16px;
}
.rating i:first-child {
    margin-bottom: 10px !important;
    width: 120px;
       margin: 0 auto;
}
.review-section .review-outter .review-inner .bottom-arrow{
  background-image: none;
  width:unset;
  height:unset;
  bottom: -10px;
  left: 68%;
}
.sprite {
   background-image: url(//cdn.shopify.com/s/files/1/0022/9654/5343/t/3/assets/sprite-icon.png?15067981341138590921);
    background-repeat: no-repeat;
    display: block;
}

.sprite-5-stars-rating_120x31 {
    width: 120px;
    height: 31px;
    background-position: -5px -5px;
}

.sprite-all_arr2 {
    width: 30px;
    height: 49px;
    background-position: -5px -46px;
}

.sprite-cart-icon {
    width: 23px;
    height: 20px;
    background-position: -45px -46px;
}

.sprite-fb {
    width: 13px;
    height: 34px;
    background-position: -78px -46px;
}

.sprite-goole {
    width: 18px;
    height: 34px;
    background-position: -101px -46px;
}

.sprite-insta {
    width: 20px;
    height: 34px;
    background-position: -135px -5px;
}

.sprite-pinrest {
    width: 14px;
    height: 34px;
    background-position: -129px -49px;
}

.sprite-search-icon {
    width: 19px;
    height: 20px;
    background-position: -45px -93px;
}

.sprite-testi_arrow {
    width: 23px;
    height: 10px;
    background-position: -74px -93px;
}

.sprite-twitter {
    width: 20px;
    height: 34px;
    background-position: -107px -93px;
}
#cart .mm-list>li>a, #cart .mm-list>li>span {
color: #000;
}
#cart .bold_option_line {
    max-width: 240px;
}
#cart .mm-list li span:first-child
{
  border: none;
}
#cart .mm-list li span:first-child a
{
  background: #fff !important;
  color: #212121 !important;
  padding: 0 !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
  line-height: 49px !important;
}
#cart .mm-list li span:first-child a:active{
box-shadow: none;
}
.container.without-image {
    margin-top: 96px;
}
.sale_banner {
    display: block;
}

.product-monogram .mobile-only {
    display: none;
}
.product-monogram .left {  display: none; }
a.button.action_button.add_to_cart1 {
  margin-top: 1px;
  max-width: 252px;
  padding: 4px !important;
}
/* li.mm-subtitle.clearfix.left-margin {
    margin-left: 20px;
} */
table.Mono img {
    width: 25px !important;
    height: 25px !important;
}
a.button.action_button.add_to_cart1 span {
    text-align: center;
}
span.outer_butt_border.cart-button {
    margin-top: 36px;
    margin-left: 20px;
}
.cart-button .button--winona::after {
top: 1px !important;
}
.slider-button button {
    padding: 0px 35px !important;
    line-height: 40px !important;
}
.slider-button a {
    padding: 0px 37px !important;
   line-height: 40px !important;
}
.left-margin button {
    padding: 0px 35px !important;
    line-height: 40px !important;
}
.left-margin a {
    padding: 0px 37px !important;
    line-height: 40px !important;
}
.left-margin .button--winona::after, .slider-button .button--winona::after {
 top: 1px;
}
.credit_bg{
  background: url(//cdn.shopify.com/s/files/1/0022/9654/5343/t/3/assets/payment_sprite.jpg?15067981341138590921) no-repeat;
  height: 40px;
  background-position: right;
}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
@-webkit-keyframes fadeInDown {
0%{opacity:0;-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0);}
100%{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInDown {
0%{opacity:0;-webkit-transform:translate3d(0, -100%, 0);-ms-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0);}
100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none;}
}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown;}
.visible {
    display: block;
    opacity: 1;
}

/* .owl-controls.clickable {
    display: none !important;
} */

@media screen and (max-width: 767px){
body.collection-left .soldout, body.collection .soldout {
     left: 15.5% !important;
    top: 43.5% !important;
  
}
/*   #cart.mm-opened .mm-list > li > a, #cart.mm-opened .mm-list > li > span {
  padding: 20px 0 !important;
} */
  .desk_plus_view { display:none !important; }
  .mob_plus_view { display:block; }
#cart.mm-opened .cart_image {
  float: left;
  max-width: 30%;
  padding-right: 9px;
  text-align: center;
}
#cart.mm-opened .item_title {
  float: left;
  max-width: 95%;
  position: static;
  width: 50% !important;
}
#cart.mm-opened .mm-counter {
  float: right;
  margin-top: 17px !important;
  position: static;
}
#cart.mm-opened .mm-current .button-area {
  padding: 0 0px 0 0px !important;
}
 p.mm-counter.desk_plus_view1 {
    padding-top: 20px !important;
    
} 
  
}

/* @media screen and (max-width: 533px){
  
   #cart.mm-opened .mm-current .button-area {
  padding: 0 0px 0 0px;
} 
  .additional-checkout-button--amazon, .additional-checkout-button--paypal-express {
  margin-left: 0 !important;
}
 #cart .action_button {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center !important;
  width: 170px;
} 
 .additional-checkout-button--amazon, .additional-checkout-button--paypal-express {
  float: left;
  margin-left: 0 !important;
  margin-right: 9px;
  min-width: 100px !important;
  width: 164px;
} 
.additional-checkout-button--amazon {  
   width: 173px;
    margin-right: 0px;
 } */
  
  


@media screen and (max-width: 533px){
/*   .additional-checkout-button {
  display: block;
  float: left;
  margin-left: 0 !important;
  padding: 0 10px !important;
  width: 100px !important;
}
.amazon-payments-pay-button.additional-checkout-button.additional-checkout-button--amazon {
  float: left;
  margin-left: 10px !important;
  padding: 0 !important;
  width: 100px !important;
}
  #cart #mm-4 {
  padding: 1px 40px !important;
} */
  #cart.slider-cart ul li span.additional-checkout-buttons {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
  .additional-checkout-button--amazon, .additional-checkout-button--paypal-express {
  margin-left: 0 !important;
  margin-right: 0;
  min-width: 100px !important;
  width: 49%;
}
  #cart .mm-current span.outer_butt_border {
  margin-bottom:10px !important;
}
}

  
 @media screen and (max-width: 483px){   
#mm-3.mm-opened {
  padding-bottom: 2px !important;
}
  .additional-checkout-button--amazon, .additional-checkout-button--paypal-express {
  margin-left: 0px !important;
  margin-right: 0;
  min-width: 100px !important;
  width: 100px;
}
}

   @media screen and (max-width: 483px){   
#mm-3.mm-opened {
  padding-bottom: 2px !important;
}
  .additional-checkout-button--amazon, .additional-checkout-button--paypal-express {
  margin-left: 0 !important;
  margin-right: 0;
  min-width: 100px !important;
  width: 100%;
}
 
      #cart.mm-opened .outer_butt_border.slider-button button {
    width: 100%;
}
     #cart.mm-opened .outer_butt_border.slider-button {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  width: 100%;
}
}
@media screen and (max-width: 479px){
body.collection-left .soldout, body.collection .soldout  {
    left: 23% !important;
    top: 43.5% !important;
}

}
@media screen and (max-width: 437px){
/* .amazon-payments-pay-button.additional-checkout-button.additional-checkout-button--amazon {
  margin-right: 10px !important;
   margin-left: 0px !important;
} */

}
span.additional-checkout-buttons {
    padding: 0 !important;
}
.monotype-preview .btn-preview  {
background: #212121 !important;
    color: #fff !important;
    border: 1px solid #212121;
  padding-top: 5px;
}
.monotype-preview .btn-preview:hover  {
background: #fff !important;
    color:  #212121 !important;
    border: 1px solid #212121;
  
}
.monotype-preview .btn-confirm {
background: #212121 !important;
    color: #fff !important;
    border: 1px solid #212121;
  padding-top: 5px;
}
.monotype-preview .btn-confirm:hover {
background: #fff !important;
    color: #212121 !important;
    border: 1px solid #212121;
  padding-top: 5px;
}
.button-area .continue_shopping {
    margin-right: 14px;
}
.featured-content3 ul li a.image-a {
    background: none !important;
    padding: 0 !important;
}
body #privy-container #privy-inner-container .privy .privy-element.privy-button-element.privy-button-outline:hover {
    background: #fff !important;
    color: #74a3ae !important;
    border: none !important;
    /* border-color: #fff !important; */
    border-radius: 0px !important;
    background-color: white;
    border-width: 0px !important;
}

body #privy-container #privy-inner-container .privy .privy-element.privy-button-element.privy-button-outline {
    background: #74a3ae !important;
    color: #fff !important;
    border-width: 0px !important;
}
.pro-thumbs ul li .img img {
    margin-bottom: 7px;
    max-height: 104px;
    width: 100%;
}
/* Custom Css Added By Developer Shriti*/
.special_menu > a > *
{
  color:#000000 !important;
}
.special_menu > a > *:hover
{
  color:#000000 !important;
}

/*Image Hover Effect */

/* ===============================================
// Reveal module
// =============================================== */

.reveal .hidden { display: block !important; visibility: visible !important;}
.product:hover .reveal img { opacity: 1; }
.reveal { position: relative; }
.reveal .hidden { 
  position: absolute; 
  z-index: -1;
  top: 0; 
  width: 100%; 
  height: 100%;  
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;  
}
.reveal:hover .hidden { 
  z-index: 9;
  opacity: 1;    
}
.reveal .caption {
  position: absolute;
  top: 0;  
  display: table;
  width: 100%;
  height: 100%;
  background-color: white; /* fallback for IE8 */
  background-color: rgba(255, 255, 255, 0.7);
  font: 13px/1.6 sans-serif;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
  text-align: center;
  text-rendering: optimizeLegibility;
}
.reveal .hidden .caption .centered {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 480px) and (max-width: 979px) {
  .reveal .caption { 
    font-size: 11px; 
  }
}